# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA files
.idea/

# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# Build output directories
target/
out/

# Maven files
.m2/

# Gradle files
.gradle/
build/



